/*reset*/
*{
    padding: 0;
    margin: 0;
}
/*variaveis*/
:root{
    --main-bg-color:#F09F67 ;
    --main-sec-color: #1C2236;
    --inputs-color-reserva: #FAF8DF;
    --inputs-color-login: white;
}

/* CSS geral para todas as páginas */
#container-social{
    background-color: var(--main-bg-color);
    text-align: right;
    height: 30px;
    & a {
        font-size: 23px;
        text-decoration: none;
        color: black;
        margin: 3px;
    }
}

.icons{
    margin-top: 2px;
}

#navbar{
    display: flex;
    background-color: var(--main-sec-color);
    color: azure;
    justify-content: space-between;
    & li{
        list-style-type: none;
        display: flex;
        font-size: 20px;
        text-align: center;
        align-items: center;
    }
}

.container-logo{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    & a{
        width: 150px;
    }
}

#logo{
    height: 150px;
    border-radius: 50%;
    margin: 5px 0px 0px 5px;
    & img{
        width: auto;
        height: 100%;
    }
}

#nome{
    margin-left: 10px;
    & h1{
        text-decoration: none;
        color: #FAF8DF;
        font-size: 55px;
        font-family: "Montagu Slab", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
    }
}

.slogan{
    font-family: "Inter", sans-serif !important;
    font-optical-sizing: auto;
    font-style: italic;
    font-size: 14px;
    & .highlight{
            color: #F09F67;
            font-weight: bold;
    }
}

#container-botoes{
    width: 70%;   
}

#botoes{
    display: flex;
    justify-content: space-around;
    height: 100%;
}

#botoes a:not(#btn){   
    text-decoration: none;
    color: white;
    font-family: "Montagu Slab", serif;
    font-weight: 450;
}

.login-navbar{
    display: flex;
    background-color: wheat;
    height: 35%;
    width: 150px;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 45px;
    align-self: center;
}

#btn-login{
    padding: 10px;
    font-family: "Montagu Slab", serif;
    font-weight: 450;
    color: black !important;
}

#person{
    font-size: 30px;
}

#btn{
    text-decoration: none;
    color: black;
    font-family: "Montagu Slab", serif;
    font-weight: 450;
}

#rodape{
    background-color: var(--main-bg-color);
    text-align: center;
}

/* Css página inicial */
.main-div-inicio-reserva{
    background-image: url("../images/yaki.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    min-height: 82vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reserva{
    background: rgba(240, 159, 103, 0.75);
    height: 25vh;
    width: 35%;
    min-height: 225px;
    min-width: 650px;
    & input{
        margin: 10px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: #FAF8DF;
        border: none;
        border-radius: 5px;
        height: 35px;
    }
    & button{
        width: 100%;
        max-width: 300px;
        height: 5vh;
        background-color: var(--main-sec-color);
        color: white;
        font-size: 25px;
        border-radius: 20px;
        border: none;
    }
}

#mesa{
    text-align: center;
    font-size: 30px;
    font-family: langar;
    color: var(--main-sec-color);
}

.caixas{
    display: flex;
    width: 100%;
}
.caixa-esquerda, .caixa-direita{
    display: flex;
    flex-direction: column;
    width: 50%;
    & input{
        padding-left: 15px;
    }
}

.enviar-botao
{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    & button
    {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: italic;
        cursor: pointer;
    }
}

/* Fale Conosco */
.contato-background{
    background-color: var(--main-bg-color);
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
}
.caixa-contato{
    background-color: var(--main-sec-color);
    width: 30vw;
    height: 70vh;
    margin-top: 5vh;
    border-radius: 50px;
}
.contato{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    & h2{
        color: white;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: italic;
        font-size: 40px;

    }
    & input{
        height: 60px;
        width: 50%;
        border-radius: 45px;
    }
    & button{
        width: 20vw;
        max-width: 250px;
        height: 5vh;
        background-color: white;
        color: var(--main-sec-color);
        font-size: 25px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
    }
}
.contato-nome{
    background-image:url('../images/profile.png');
    background-size: 60px;
    background-repeat: no-repeat;
    padding-left: 60px;
    font-size: larger;
    background-position: 5px;
}

.contato-tel{
    background-image:url('../images/phone-call.png');
    background-size: 50px;
    background-repeat: no-repeat;
    padding-left: 60px;
    font-size: larger;
    background-position: 5px;
}

.contato-email{
    background-image:url('../images/mail.png');
    background-size: 50px;
    background-repeat: no-repeat;
    padding-left: 60px;
    font-size: larger;
    background-position: 5px;
}

.contato-caixa-texto{
    resize: none;
    font-size: 24px;
    border-radius: 12px;
    border: 4px solid var(--main-bg-color);
    height: 35%;
    width: 65%;
}